.hidden{
    display: none;
}

.word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__card {
    margin-bottom: 20px;
    padding: 60px;
    .sentence {
      input {
        display: inline-block;
        width: 25px;
        padding: 10px;
        font-size: 18px;
      }
      .input-top-layer{
        font-size: 18px;
        padding: 10px;
      }
      .transparent{
          z-index: -1;
      }
      .correct-letter{
          color: green;
      }
      .wrong-letter{
          color: red;
      }
    }
    .sentence-translation {
      margin-bottom: 20px;
    }
  }
}
