.hidden {
  display: none;
}

.learning-settings {
  margin-top: 40px;
  .word-translation,
  .sentences-translation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    p {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

.word {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  &__card {
    margin-bottom: 20px;
    padding: 60px;
    input {
      display: inline-block;
      width: 25px;
      margin: 0 5px;
      padding: 10px;

      font-size: 17px;

      outline: none;
    }
    .input_correct {
      color: green;

      border: 2px solid green;
    }
    .input-top-layer {
      display: inline-block;
      padding: 10px;

      font-size: 18px;
      text-align: left;
    }
    .input-top-layer.hidden {
      display: none;
    }
    .transparent {
      z-index: -1;

      opacity: 0;

      transition: 1s;
      span {
        color: gray;
      }
    }
    .correct-letter {
      color: green;
    }
    .wrong-letter {
      color: red;
    }
    .hidden-word {
      font-weight: bold;
    }
    .sentence {
      font-size: 20px;
    }
    .sentence-translation {
      margin-bottom: 20px;
    }
    .meaning {
      font-size: 20px;
    }
    .sentence-translation,
    .word__translation,
    .meaning-translation {
      font-size: 16px;
    }
    .btn {
      width: 120px;
    }
    .next-btn {
      margin: 0 auto;
    }
  }
}

.progress-bar-wrapper {
  width: 100%;
  .cards-numbers-wrapper{
    display: flex;
    justify-content: space-between;
    .cards-amount-done, .cards-amount-all{
      display: inline-block;
    }
  }
}

