.games {
  display: flex;
  flex-wrap: wrap;
  .game {
    width: calc(33.33333% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 30px;

    text-align: center;
    color: #ffffff;

    background: #6c757d;
    &__title {
      margin-bottom: 10px;

      font-weight: 700;
      font-size: 24px;
    }
    &__desc {
      margin-bottom: 20px;

      font-size: 16px;
    }
    .play-btn {
      width: 120px;
      margin: 0 auto;

      font-weight: 700;
      color: #6c757d;
      text-transform: uppercase;
    }
  }
}
