.menu {
  width: 70px;
  height: 100vh;

  background-color: #fff;
  box-shadow: 8px 0px 20px rgba(0, 0, 0, 0.04);

  transition: width 0.2s linear;

  grid-area: menu;

  .menu__burger {
    display: flex;
    height: 70px;

    .burger-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
      cursor: pointer;

      .burger-dash {
        width: 30px;
        height: 4px;
        margin: 3px;

        background-color: #263238;
        border-radius: 2px;

        transition: transform 0.5s;
      }
    }
  }

  .menu__items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;

    .menu__item.active {
      .menu-item__label {
        text-decoration: underline;
      }
    }
    .menu__item {
      display: flex;
      height: 30px;
      margin: 0 20px;

      .menu-item__label {
        color: #263238;
        margin-left: 15px;
        opacity: 0;
        align-self: center;
        font-size: 1.4rem;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.menu.active {
  width: 250px;
  .menu__item {
    display: flex;

    .menu-item__label {
      opacity: 1;

      transition: opacity 1.3s;
    }
  }

  .menu__burger {
    .burger-icon {
      div:nth-child(1) {
        transform: rotate(-45deg) translate( 1px , 9px);
      }

      div:nth-child(2) {
        opacity: 0;
      }

      div:nth-child(3) {
        transform: rotate(45deg) translate(-5px,-15px);
      }
    }
  }
}
