@import "speak-it/speak-it";
@import './mixins.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@include tablet() {
  html {
    font-size: 8px;
  }
}

@include mobile() {
  html {
    font-size: 7px;
  }
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.btn {
  border-radius: 8rem;
  padding: 1.6rem 6.4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  border: 0;
  color: #263238;
  font-weight: 600;
  text-transform: uppercase;
  max-width: 27rem;
}

.btn_yellow {
  background: #ffc727;
  box-shadow: 0 .4rem 1.2rem #ffc727;
}

.btn_yellow:hover {
  background: #caa234;
  box-shadow: 0px 0.4rem 1.2rem #caa234;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .sign-in-form {
    position: relative;

    display: flex;
    flex-direction: column;
    max-width: 390px;
    input,
    &__label {
      margin-bottom: 10px;
    }
    &__label {
      display: block;

      font-size: 1.4rem;
    }
    &__name,
    &__password {
      padding: 0 5px;
    }
  }
}

.password-tip {
  position: absolute;

  padding: 20px 0 0 0;

  text-align: center;

  background-color: #9a9a9a;
  opacity: 0.9;

  clip-path: polygon(30% 0%, 35% 10%, 100% 10%, 100% 100%, 0% 100%, 0% 10%, 25% 10%);
}

.invalid-password {
  outline: 2px solid #ff4c4c;
}
