* {
  box-sizing: border-box;
}

@import "speak-it/speak-it";

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .sign-in-form {
    position: relative;

    display: flex;
    flex-direction: column;
    max-width: 390px;
    input,
    &__label {
      margin-bottom: 10px;
    }
    &__label {
      display: block;

      font-size: 1.4rem;
    }
    &__name,
    &__password {
      padding: 0 5px;
    }
  }
}

.password-tip {
  position: absolute;

  padding: 20px 0 0 0;

  text-align: center;

  background-color: #9a9a9a;
  opacity: 0.9;

  clip-path: polygon(30% 0%, 35% 10%, 100% 10%, 100% 100%, 0% 100%, 0% 10%, 25% 10%);
}

.invalid-password {
  outline: 2px solid #ff4c4c;
}
