
.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-succes {
  background-color: red;
}

.card {
  min-height: 400px;
}

.info {
  color: white;
  padding-top: 10px;
}

