.speak-it {
  position: relative;

  box-sizing: border-box;

  &__active {
    border: 7px solid #aa2233;

    &:hover {
      border: 7px solid #aa2233;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-around;

    &-pages,
    &-groups {
      margin: 10px;
    }

    &-level {
      display: flex;
    }

    &-app {
      &__btn {
        margin: 10px;
      }
    }
  }

  &__content {
    &-info {
      width: 300px;
      height: 300px;
      margin: 40px auto;

      &__img {
        width: 100%;

        &-input,
        &-score,
        &-title {
          font-weight: bold;
          font-size: 20px;
          text-align: center;
        }
      }
    }

    &-words {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto;
      padding: 40px;

      @media screen and (min-width: 1150px) {
        width: 1130px;
      }
    }

    &-word__item {
      position: relative;

      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      align-items: center;
      width: fit-content;
      min-width: 200px;
      margin: 5px;
      padding: 5px;

      font-size: 25px;
      text-align: center;
      color: #ffffff;

      background-color: #007bff;
      border: 7px solid #007bff;
      border-radius: 10px;

      &:hover {
        background-color: #0069d9;
      }

      &-select {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__level,
  &__page {
    height: 210px;
    overflow: auto;

    cursor: pointer;
  }

  &__result {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(40deg, #45cafc,#303f9f);

    &__wrap {
      padding: 10px;

      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    }

    &__row {
      position: relative;

      display: flex;
      align-items: center;
      margin-bottom: 10px;

      font-size: 20px;
      color: #ffffff;

      cursor: pointer;

      &:hover {
        background-color: #00bfff;
      }
    }

    &__transcription {
      margin: 5px;
    }

    &__btn {
      margin-right: 5px;
    }

    &__select {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &__title {
      margin: 5px;

      font-size: 18px;
      color: yellow;
    }
  }

  &__correct {
    border: 7px solid green;
  }
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(40deg, #45cafc,#303f9f);

  &__title {
    margin-bottom: 20px;
    padding: 10px;

    color: #ffffff;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }

  &__subtitle {
    font-size: 20px;
    text-align: center;

    @extend .start-page__title;
  }
}
