.savanna-game-wrapper {
  #play-btn {
    margin-left: 11px;
    padding: 1px 6px;
  }
  .btn-next-repeat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  span {
    margin-right: 5px;
  }
  .list-group-item {
    display: flex;
    flex-wrap: wrap;
  }
  .timer {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 50px;

    transform: translate(-50%, -50%);
  }
  .spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  .translation {
    position: absolute;
    top: 10%;

    transition: top 9s linear;
  }
  .translation-move {
    top: 90%;
  }
  .spinner-border {
    width: 5rem !important;
    height: 5rem !important;
  }
  .links {
    display: flex;
    justify-content: space-between;
  }
  li {
    cursor: pointer;
  }
  .block {
    background-color: grey;
    cursor: not-allowed;
  }
  .lives-container {
    position: absolute;
    top: 5px;
    right: 10px;

    display: flex;
    flex-wrap: wrap;
  }
  .btn {
    display: block;
  }
  .word-btn {
    display: block;
    width: 200px !important;
    height: 50px;
    margin: 10px;
    padding: 0;
  }

  .game-words {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 300px;
    min-height: 50em;
  }
  .dropdown {
    display: flex;
  }
}
