.about-team-page {
  display: grid;
  grid-template-areas:
    "menu header"
    "menu about-team";
  grid-template-columns: max-content;

  .about-team {
    grid-area: about-team;
    margin: 0 30px;
  }
}

.about-team-wrapper {
  h1 {
    font-size: 3rem;
    font-weight: 600;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  font-size: 18px;
  text-align: center;

  background: #ffffff;
  .card {
    .card-name {
      text-align: center;
      font-size: 2.8rem;
    }
  }
}
@media screen and (max-device-width: 400px) {
  .card {
    width: 15rem;
  }
}

@media screen and (min-device-width: 920px) {
  .swiper-button-prev {
    right: auto;
    left: 5%;
  }
  .swiper-button-next {
    right: 5%;
    left: auto;
  }
}

@media screen and (min-device-width: 1199px) {
  .swiper-button-prev {
    right: auto;
    left: 2.6%;
  }
  .swiper-button-next {
    right: 2.6%;
    left: auto;
  }
}
