.container {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card {
    margin: 10px auto !important;
}

.links {
    display: flex;
    justify-content: space-between;
}