@import "../../styles/mixins.scss";

.hidden {
  display: none;
}

.limits {
  display: flex;
  justify-content: center;
  .limit {
    label {
      margin-right: 10px;
    }
    input {
      vertical-align: middle;

      cursor: pointer;
    }
    output {
      min-width: 35px;
      margin-left: 10px;
    }
  }
  .limit:first-child {
    margin-right: 30px;
  }
}

.main-settings {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  p:first-child {
    margin-top: 30px;
  }
  .warning {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;

    color: red;
  }
}

.additional-settings {
  .success-notification {
    color: green;
    margin-bottom: 0;
    font-weight: 700;
  }
}

.save-btn {
  width: 120px;
  margin-top: 10px;
  margin-bottom: 20px;
}

@include mobile() {
  .limits {
    .limit {
      label {
        font-size: 13px;
      }
    }
  }
  .main-settings,
  .additional-settings{
    font-size: 14px;
    p:first-child{
      font-size: 18px;
    }
  }
  .success-notification, .warning{
    text-align: center;
  }
  .save-btn-container{
    text-align: center;
  }
}
